<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Contact me</ion-title>
    <ion-buttons slot="end">

      <ion-button (click)="goHomePage()"><ion-icon name="md-home" style="zoom:2.0;"></ion-icon></ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card>
    
    <ion-grid style="height: 100%">
      <ion-row justify-content-center align-items-center style="height: 100%">
        <ion-avatar style="zoom:2;text-align: center;" >
          <img src="https://i.ibb.co/nQDmRyh/DSC-0177-2.jpg">
        </ion-avatar>
      </ion-row>
    </ion-grid>
  
    <ion-card-header>
      <ion-card-title>Chamara Madhushan</ion-card-title>
      <ion-card-subtitle>IONIC v4 framework</ion-card-subtitle>
      <ion-card-subtitle>CORDOVA plugins</ion-card-subtitle>
      <ion-card-subtitle>Firebase real-time database</ion-card-subtitle>
      <ion-card-subtitle>Testing server-1</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <!-- <ion-img src="https://i.ibb.co/nQDmRyh/DSC-0177-2.jpg" height="200"> -->
      <p><a href="mailto:cmb.info96@gmail.com">cmb.info96@gmail.com</a></p>
      <p><a href="https://github.com/chamara96">GitHub</a></p>
      <p><a href="https://www.linkedin.com/in/chamara-herath-838446172">LinkedIn</a></p>
      <p><a href="https://www.facebook.com/chamara.cmb96">Facebook</a></p>
      <p><a href="tel:+94702697490">(+94)70 269 7490</a></p>
    </ion-card-content>
  </ion-card>

</ion-content>
