.itemcss {
     border: 1px solid #111111;
     background-color:#C0C0C0;
     border-bottom: 0px !important;
     
 }

.mainlistcss {
     border: 1px solid #111111;
     background-color:#C0C0C0;
     border-top: 0px !important;
     border-left: 0px !important;
     border-right: 0px !important;
     
 }